<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>PSH Manager Online</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300&subset=latin-ext' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/psh_scripts.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui-1.8.10.custom.min.js"></script>
</head>
<script type="text/javascript">
</script>

<body>
<div id="nav">
<div id="search">
<input type="text" id="pshSuggest" size="20"/>
<div id="searchTitle">Vyhledávání - <span id="searchLanguage">čeština</div>
</div>
<a href="http://www.techlib.cz" target=blank><img id="logoNTK" src="static/img/ntk_logo.png" title="Stránky NTK"/></a>
<a href="http://www.techlib.cz/cs/14-psh" target=blank><img id="logoPSH" src="static/img/psh_logo.png" title="Stránky PSH"/></a>

<a href="http://cs.wikipedia.org/wiki/Antropologie" target=blank><img id="logoWikipedia" src="static/img/wikipedia-logo.png" title="Odkaz na Wikipedii"/></a>

<img id="english" class="inactive" title="Vyhledávat v angličtině ANO/NE" src="static/img/english.png" />
<a href="http://aleph.techlib.cz/F/?func=find-b&request='antropologie '&find_code=PSH&adjacent=N&local_base=STK&x=0&y=0&filter_code_1=WLN&filter_request_1=&filter_code_2=WYR&filter_request_2=&filter_code_3=WYR&filter_request_3=&filter_code_4=WFM&filter_request_4=&filter_code_5=WSL&filter_request_5=" target=blank><img id="katalog" src="static/img/catalogue.png" title="Katalog NTK"/></a>

<a href="http://www.techlib.cz/cs/614-navrh-noveho-hesla/" title="Návrh nového hesla" target=blank><img id="new_subject" src="static/img/new_subject.png"/></a>
<a id="marc_link" href="http://aleph.techlib.cz/F?func=direct&local_base=STK10&doc_number=000000002&format=001" title="MARC" target=blank><img id="marc_format" src="static/img/marc_icon.png"/></a>
<ul id="cacheList">
<li class="active cache" itemid="">-</li>
<li class="inactive cache" itemid="">-</li>
<li class="inactive cache" itemid="">-</li>
</ul>
</div>
<div id="last_update">
Poslední aktualizace {{ datetime|date:"d. m. Y H:i"}}</div>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
